@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 245, 247, 250; /* Svijetlo siva/bijela pozadina */
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(245, 247, 250); /* Nježna pozadina za oči */
}
